.site{
  justify-content: space-around;
}
.greeting{
  margin-bottom: 30px;
}
.rightSide, .rightSide{
  display: flex;
  flex-direction: column;
}
.rightSide__title{
  padding-bottom: 30px;
}
.repeat-block{
  display: inline-flex;
  flex-direction: column;
}
.repeat{
  text-align: center;
  display: inline-flex;
  margin-left: 10px;
  max-width: 5vw;
  font-size: 14px;

}
@media screen and (max-width: 600px) {
.repeat{
  display: block;
}
}